In [ ]:
Write a solution to fix the names so that only the first character is uppercase and the rest are lowercase.

Return the result table ordered by user_id.

The result format is in the following example.

 

Example 1:

Input: 
Users table:
+---------+-------+
| user_id | name  |
+---------+-------+
| 1       | aLice |
| 2       | bOB   |
+---------+-------+
Output: 
+---------+-------+
| user_id | name  |
+---------+-------+
| 1       | Alice |
| 2       | Bob   |
+---------+-------+

In [2]:
import pandas as pd
data = [[1, 'aNNAYA ForGer '], [2, 'bOB']]
users = pd.DataFrame(data, columns=['user_id', 'name']).astype({'user_id':'Int64', 'name':'object'})

In [5]:
### Solution 1 (built in functions)
users.name = users.name.str.capitalize()
users.sort_values(by = 'user_id')

   user_id            name
0        1  Annaya forger
1        2             Bob

In [4]:
### Solution 2 (lambda functions)
users.name = users.name.apply(lambda x: x[0].upper()+ x[1:].lower())
users.sort_values(by='user_id')

   user_id            name
0        1  Annaya forger
1        2             Bob

In [3]:
users.name = users.apply(lambda x: x['name'][0].upper()+x['name'][1:].lower(),axis=1)
users.sort_values(by='user_id')

   user_id            name
0        1  Annaya forger
1        2             Bob