In [ ]:
Write a solution to delete all duplicate emails, keeping only one unique email with the smallest id.

Please note that you are supposed to modify Person in place.

After running your script, the answer shown is the Person table. The driver will first compile and run your piece of code and then show the Person table. The final order of the Person table does not matter.

The result format is in the following example.

 

Example 1:

Input: 
Person table:
+----+------------------+
| id | email            |
+----+------------------+
| 1  | john@example.com |
| 2  | bob@example.com  |
| 3  | john@example.com |
+----+------------------+
Output: 
+----+------------------+
| id | email            |
+----+------------------+
| 1  | john@example.com |
| 2  | bob@example.com  |
+----+------------------+
Explanation: john@example.com is repeated two times. We keep the row with the smallest Id = 1.

In [66]:
import pandas as pd
data = [[1, 'john@example.com'], [4, 'bob@example.com'], [3, 'john@example.com'],[2, 'bob@example.com']]
person = pd.DataFrame(data, columns=['id', 'email']).astype({'id':'int64', 'email':'object'})

In [67]:
person = person.sort_values(by = "id", ascending = True)
person

   id             email
0   1  john@example.com
3   2   bob@example.com
2   3  john@example.com
1   4   bob@example.com

In [68]:
person = person.drop_duplicates(subset = ["email"], keep = "first")
person

   id             email
0   1  john@example.com
3   2   bob@example.com