In [22]:
import pandas as pd
data = [[1, 2, '2016-02-01', 4],[1, 2, '2015-03-01', 5], [1, 2, '2016-05-02', 6], [2, 3, '2017-06-25', 1], [3, 1, '2016-03-02', 0], [3, 4, '2018-07-03', 5]]
activity = pd.DataFrame(data, columns=['player_id', 'device_id', 'event_date', 'games_played']).astype({'player_id':'Int64', 'device_id':'Int64', 'event_date':'datetime64[ns]', 'games_played':'Int64'})

In [17]:
activity

   player_id  device_id event_date  games_played
0          1          2 2016-02-01             4
1          1          2 2015-03-01             5
2          1          2 2016-05-02             6
3          2          3 2017-06-25             1
4          3          1 2016-03-02             0
5          3          4 2018-07-03             5

In [24]:
activity.sort_values(by = ["event_date","player_id"],inplace = True)

In [25]:
activity = activity.drop_duplicates(["player_id"]) 
activity.rename(columns = {"event_date" : "first_login"},inplace = True)
activity[["player_id","first_login"]]

   player_id first_login
1          1  2015-03-01
4          3  2016-03-02
3          2  2017-06-25