In a school, there are total 100 students numbered from 1 to 100. You’re given three lists named ‘C’, ‘F’, and ‘H’, representing students who play cricket, football, and hockey, respectively. Based on this information, find out and print the following: 
- Students who play all the three sports
- Students who play both cricket and football but don’t play hockey
- Students who play exactly two of the sports
- Students who don’t play any of the three sports

In [1]:
C = [7, 8, 9, 18, 20, 21, 25, 26, 27, 31, 32, 34, 35, 36, 40, 43, 45, 47, 53, 58, 62, 67, 68, 71, 72, 74, 75, 76, 80, 81, 82, 90, 93, 95, 97, 99]
F = [1, 7, 10, 13, 16, 22, 24, 29, 30, 32, 34, 39, 40, 43, 44, 48, 56, 60, 65, 68, 69, 73, 77, 78, 90, 93, 94, 95, 96]
H = [5, 12, 14, 17, 20, 21, 22, 25, 28, 30, 37, 38, 39, 40, 42, 44, 57, 59, 61, 62, 67, 71, 75, 76, 77, 82, 83, 86, 87, 92, 94, 95]

In [11]:
l1 = set(C).intersection(set(F))
play_all_Sports = l1.intersection(H)
play_all_Sports

{40, 95}

In [17]:
l2 = set(C).intersection(set(H))
sorted(list(l2 - set(F)))

[20, 21, 25, 62, 67, 71, 75, 76, 82]

In [24]:
len((set(C).intersection(set(F))).union(set(H).intersection(set(C))).union(set(H).intersection(set(F)))) - 2

22

In [26]:
np.arang - set(C).union(set(F)).union(set(H))

{1,
 5,
 7,
 8,
 9,
 10,
 12,
 13,
 14,
 16,
 17,
 18,
 20,
 21,
 22,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 42,
 43,
 44,
 45,
 47,
 48,
 53,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 65,
 67,
 68,
 69,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 80,
 81,
 82,
 83,
 86,
 87,
 90,
 92,
 93,
 94,
 95,
 96,
 97,
 99}

In [30]:
import numpy as np
set(np.arange(1,100)) - set(C).union(set(F)).union(set(H))

{2,
 3,
 4,
 6,
 11,
 15,
 19,
 23,
 33,
 41,
 46,
 49,
 50,
 51,
 52,
 54,
 55,
 63,
 64,
 66,
 70,
 79,
 84,
 85,
 88,
 89,
 91,
 98}

#### Q1. Which are the students who play all the three sports?
- [22, 39]
- [39, 82]
- [40, 95]
- [82, 94]

#### Q2. Which are the players who play both cricket and hockey but don't play football?
- [20, 21, 25, 62, 67, 71, 75, 76, 82]
- [20, 21, 22, 25, 30, 32, 34]
- [20, 21, 22, 25, 30, 32, 34, 39, 43, 44, 62]
- [20, 21, 68, 71, 75, 76]

#### Q3. How many players play exactly two sports?
- 19
- 20
- 21
- 22

#### Q4. Which of these students do not play any of the sports? (More than one option may be correct)
- 41
- 48
- 63
- 85