<a href="https://colab.research.google.com/github/SwethaG-29/Explore_Python/blob/main/Python_Practice_Coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

df = pd.read_csv('https://cdn.upgrad.com/uploads/production/d71a16a6-651a-42a4-bf43-2b22fc8b6507/india-food-prices-1.csv')
df = df.drop(0)
df.reset_index(drop=True,inplace=True)

#WRITE CODE HERE



df1 = df.copy()
mask = df1.unit == "100 KG"
df1.loc[mask,"price"] =df1.loc[mask,"price"].apply(float)/100

df1.loc[mask,"usdprice"] = df1.loc[mask,"usdprice"].apply(float)/100

df1.unit = df1.unit.replace("100 KG","KG")

            date admin1 admin2 market   latitude  longitude  \
2425  2000-01-15  Bihar  Patna  Patna       25.6  85.116667
2427  2000-01-15  Bihar  Patna  Patna       25.6  85.116667
2432  2000-01-15  Delhi  Delhi  Delhi  28.666667  77.216667

                category commodity    unit pricetype currency  price usdprice
2425  cereals and tubers      Rice  100 KG    actual      INR    8.0   0.1837
2427  cereals and tubers     Wheat  100 KG    actual      INR    8.0   0.1837
2432  cereals and tubers      Rice  100 KG    actual      INR  10.75   0.2468
Empty DataFrame
Columns: [date, admin1, admin2, market, latitude, longitude, category, commodity, unit, pricetype, currency, price, usdprice]
Index: []

In [ ]:
index_val = 2432
row = df1.index == index_val
print(df.loc[row])

            date admin1 admin2 market   latitude  longitude  \
2432  2000-01-15  Delhi  Delhi  Delhi  28.666667  77.216667

                category commodity    unit pricetype currency   price usdprice
2432  cereals and tubers      Rice  100 KG    actual      INR  1075.0    24.68

In [ ]:
row = df1.loc[0]  # Select the first row (can be any index)

# Display the row
print(row)

date                 1994-01-15
admin1                    Delhi
admin2                    Delhi
market                    Delhi
latitude              28.666667
longitude             77.216667
category     cereals and tubers
commodity                  Rice
unit                         KG
pricetype                actual
currency                    INR
price                       8.0
usdprice                   0.25
Name: 0, dtype: object

In [ ]:
df

In [ ]:
df_res = df[(df.market == "Delhi" ) & (df.date == "1994-01-15")]
df_res
#

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,pricetype,currency,price,usdprice
0,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Rice,KG,actual,INR,8.0,0.25
1,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Wheat,KG,actual,INR,5.0,0.16
2,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,miscellaneous food,Sugar,KG,actual,INR,13.5,0.43
3,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,oil and fats,Oil (mustard),KG,actual,INR,31.0,0.99

In [ ]:
df_res[(df_res.commodity == 'Rice') | (df_res.commodity == 'Wheat')]

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,pricetype,currency,price,usdprice
0,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Rice,KG,actual,INR,8.0,0.25
1,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Wheat,KG,actual,INR,5.0,0.16

In [ ]:
val = df_res.loc[(df_res.commodity == 'Wheat'),"price"]
val

1    5.0
Name: price, dtype: object

In [ ]:
val.apply(float).sum() * 5

25.0

In [ ]:
df.commodity.unique()

array(['Rice', 'Wheat', 'Sugar', 'Oil (mustard)', 'Potatoes', 'Chickpeas',
       'Onions', 'Milk', 'Wheat flour', 'Milk (pasteurized)',
       'Salt (iodised)', 'Oil (groundnut)', 'Oil (palm)',
       'Oil (sunflower)', 'Lentils (masur)', 'Tomatoes', 'Tea (black)',
       'Lentils', 'Sugar (jaggery/gur)', 'Ghee (vanaspati)',
       'Lentils (moong)', 'Lentils (urad)', 'Oil (soybean)'], dtype=object)

In [ ]:
market = "Delhi"
date = "1994-01-15"
commodities = input()
lst = (str.split(commodities))
length = len(str.split(commodities))
df_res = df[(df.market == market ) & (df.date == date)]
df_res[(df_res.commodity == 'Rice') | (df_res.commodity == 'Wheat')]

Rice Wheat

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,pricetype,currency,price,usdprice
0,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Rice,KG,actual,INR,8.0,0.25
1,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Wheat,KG,actual,INR,5.0,0.16

In [ ]:
for i in range(length):
  df_res[(df_res.commodity == lst)]

ValueError: ('Lengths must match to compare', (4,), (2,))

In [ ]:
market = "Delhi"
date = "1994-01-15"
commodities = list(map(str,input().split()))
units = list(map(int,input().split()))
total = 0
commodity_unit = dict(zip(commodities, units))
for commodity in commodities:
  print(commodity_unit,commodity)
#     df_9 = df[(df['commodity']==commodity) & (df['date']==date) & (df['market']==market)]
#     total = total + commodity_unit[commodity]*df_9['price'].apply(float).values[0]

# print(total)

rice wheat
3
{'rice': 3} rice
{'rice': 3} wheat

In [ ]:
l = [1,2,3]
l1 = [2,3]

In [ ]:
c = []

for i in range(3):
  if l[i] < l1[i]:
    c = c + list(l[i])
  else:
    c = c + list(l1[i])
print(c)

TypeError: 'int' object is not iterable

In [1]:
def func(x):
     return x % 10

L = [15, 20, 5, 29, 10]
sorted(L, key = func)

[20, 10, 15, 5, 29]

In [2]:
l =  [(21,30),(40,50),(15,25),(50,40),(20,15)]

In [15]:
a = []
for i in l:
  print(a.append(i))
a

None
None
None
None
None

[(21, 30), (40, 50), (15, 25), (50, 40), (20, 15)]

In [12]:
l = list(l)
type(l)

list

In [21]:
import numpy as np
a = np.array(a)

In [33]:
import pandas as pd
df = pd.DataFrame(l)

In [60]:
 l1 = [(b,a) for a,b in l]
 l1

[(30, 21), (50, 40), (25, 15), (40, 50), (15, 20)]

In [59]:
for i in range(len(l1)):
  if l1 == l:
    print('y')
  else:
    print('no')

no
no
no
no
no

In [56]:
a1 = (1,2)

In [57]:
a2 = (1,2)

In [68]:
 from collections import Counter

# Creating and Printing list of tuples
myList = [(3, 4), (5, 1), (1, 5), (7, 4)]
print("All tuples of the tuple list : " + str(myList))

# Extracting all Symmetric tuples from list
temp = [(sub[1], sub[0]) if sub[0] < sub[1] else sub for sub in myList]
cnts = Counter(temp)
symTuples = [key for key, val in cnts.items() if val == 2]

# Printing Symmetric tuples
print("All tuples that are symmetric : " + str(symTuples))

All tuples of the tuple list : [(3, 4), (5, 1), (1, 5), (7, 4)]
All tuples that are symmetric : [(5, 1)]

In [77]:
l = [6, 7, 3, 8, 5, 4]

In [105]:
res = []
evenArr = []
arr = []
n = 6
oddArr = []
for i in range(0,6):
  if i%2 ==0:
    evenArr.append(l[i])
    print((evenArr))
  else:
    oddArr.append(l[i])
    print((oddArr[::-1]))

[3]
[4]
[3, 5]
[6, 4]
[3, 5, 7]
[8, 6, 4]

In [117]:
from collections import Counter

# Creating and Printing list of tuples
myList = [(21,30),(40,50),(15,25),(50,40),(20,15)]
# Extracting all Symmetric tuples from list
temp = [(sub[1], sub[0]) if sub[0] < sub[1] else sub for sub in myList]
cnts = Counter(temp)
symTuples = [key for key, val in cnts.items() if val == 2]

# Printing Symmetric tuples
print(str(symTuples))

[(30, 21), (50, 40), (25, 15), (20, 15)]

In [60]:
l = [[1, 2, 3]]
cnt = 0
for i in l:
  cnt = cnt + 1
cnt

1

In [64]:
if cnt == 1:
  print (sum(l, []) )

[1, 2, 3]

In [53]:
for i in range(cnt):
  li = l[i]
  print(li)

[1, 3]
[4, 5]
[6, 7]

In [59]:
len(l)

3

In [54]:
sublists = [l[i:i + cnt] for i in range(0, len(l), cnt)]

In [58]:
sublist_dict = {}
for index, sublist in enumerate(sublists):
    name = f"sublist_{index + 1}"
    sublist_dict[name] = sublist
    print(sublist_dict)

{'sublist_1': [[1, 3], [4, 5], [6, 7]]}

In [48]:
l1 = l[0]
l2 = l[1]

In [56]:
sublist_dict

{'sublist_1': [[1, 3], [4, 5], [6, 7]]}

In [49]:
res = []
for i in range(len(l1)):
  for j in range(len(l2)):
    if l1[i] == l2[j]:
      lis = (l1[i])
      res.append(lis)
res = list(set(res))
res

[]

In [68]:
l = [[1], [3], [6]]

# write your code here

cnt  = 0
for i in l:
  cnt = cnt + 1

if cnt == 1:
  print (sum(l, []) )
elif cnt == 2:
    l1 = l[0]
    l2 = l[1]
    res = []
    for i in range(len(l1)):
      for j in range(len(l2)):
        if l1[i] == l2[j]:
          lis = (l1[i])
          res.append(lis)
    res = list(set(res))
    print(res)

else:
    print(res)

[]

In [70]:
# Python3 program to find duplicate
# parenthesis in a balanced expression

# Function to find duplicate parenthesis
# in a balanced expression
def findDuplicateparenthesis(string):

	# create a stack of characters
	Stack = []

	# Iterate through the given expression
	for ch in string:

		# if current character is
		# close parenthesis ')'
		if ch == ')':

			# pop character from the stack
			top = Stack.pop()

			# stores the number of characters between
			# a closing and opening parenthesis
			# if this count is less than or equal to 1
			# then the brackets are redundant else not
			elementsInside = 0
			while top != '(':

				elementsInside += 1
				top = Stack.pop()

			if elementsInside < 1:
				return True

		# push open parenthesis '(', operators
		# and operands to stack
		else:
			Stack.append(ch)

	# No duplicates found
	return False

# Driver Code
if __name__ == "__main__":

	# input balanced expression
	string = "(((a+(b))+(c+d)))"

	if findDuplicateparenthesis(string) == True:
		print("Duplicate Found")
	else:
		print("No Duplicates Found")

# This code is contributed by Rituraj Jain

Duplicate Found