In [ ]:
Write a solution to calculate the number of bank accounts for each salary category. The salary categories are:

"Low Salary": All the salaries strictly less than $20000.
"Average Salary": All the salaries in the inclusive range [$20000, $50000].
"High Salary": All the salaries strictly greater than $50000.
The result table must contain all three categories. If there are no accounts in a category, return 0.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Accounts table:
+------------+--------+
| account_id | income |
+------------+--------+
| 3          | 108939 |
| 2          | 12747  |
| 8          | 87709  |
| 6          | 91796  |
+------------+--------+
Output: 
+----------------+----------------+
| category       | accounts_count |
+----------------+----------------+
| Low Salary     | 1              |
| Average Salary | 0              |
| High Salary    | 3              |
+----------------+----------------+
Explanation: 
Low Salary: Account 2.
Average Salary: No accounts.
High Salary: Accounts 3, 6, and 8.

In [39]:
import pandas as pd
data = [[3, 108939], [2, 12747], [8, 87709], [6, 91796]]
accounts = pd.DataFrame(data, columns=['account_id', 'income']).astype({'account_id':'Int64', 'income':'Int64'})

In [40]:
accounts

   account_id  income
0           3  108939
1           2   12747
2           8   87709
3           6   91796

In [57]:
# Solution 1
pd.DataFrame({"category" : ["Low Salary","Medium Salary","High Salary"], "account_counts" : [accounts[accounts['income'] < 20000].shape[0],
accounts[(accounts['income'] >= 20000) | (accounts['income'] < 50000)].shape[0],
accounts[accounts['income'] >= 50000].shape[0]]})

        category  account_counts
0     Low Salary               1
1  Medium Salary               4
2    High Salary               3

In [68]:
# Solution : 2
low_sal = (accounts["income"] > 20000).sum()
medium_sal = ((accounts["income"] >=20000) & (accounts["income"] < 50000)).sum()
high_sal = (accounts["income"] >= 50000).sum()

In [67]:
pd.DataFrame({"category" : ["Low Salary","Medium Salary","High Salary"], "account_counts": [low_sal,medium_sal,high_sal]})

        category  account_counts
0     Low Salary               3
1  Medium Salary               0
2    High Salary               3