In [ ]:
Write a solution to find the second highest distinct salary from the Employee table. If there is no second highest salary, return null (return None in Pandas).

The result format is in the following example.

 

Example 1:

Input: 
Employee table:
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |
+----+--------+
Output: 
+---------------------+
| SecondHighestSalary |
+---------------------+
| 200                 |
+---------------------+
Example 2:

Input: 
Employee table:
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
+----+--------+
Output: 
+---------------------+
| SecondHighestSalary |
+---------------------+
| null                |
+---------------------+

In [118]:
import pandas as pd
data = [[1, 100], [2, 200],[4,400],[5,200],[6,600]]
employee = pd.DataFrame(data, columns=['id', 'salary']).astype({'id':'int64', 'salary':'int64'})

In [66]:
### Solution 1: iloc
def second_highest_salary(employee):
    unique_sal = employee.salary.drop_duplicates().reset_index(drop=True)
    sort_sal = unique_sal.sort_values(ascending = False)
    second_highest =  sort_sal.iloc[1]
    return pd.DataFrame({"SecondHighestSalary":[second_highest]})
    
second_highest_salary(employee)

   SecondHighestSalary
0                  400

In [99]:
### Solution 2: iloc
def second_highest_salary(employee):
    employee.drop_duplicates(subset = ["salary"],inplace = True)
    employee = employee.sort_values(by = "salary",ascending = False).drop('id',axis = 1)
    
    if len(employee)<=0:
        return pd.DataFrame({"SecondHighestSalary" : [None] })
    return pd.DataFrame({"SecondHighestSalary" : [employee.salary.iloc[1]]})
    
    
second_highest_salary(employee)

   SecondHighestSalary
0                  400

In [125]:
### Solution 3: nlargest()

def second_highest_salary(employee):
    second_largest = employee.drop_duplicates(subset=["salary"]).nlargest(2,'salary')
    res = pd.DataFrame({"SecondHighestSalary":[None]})
    if len(second_largest) >=2:
        res.iloc[0] = second_largest.iloc[1][1]
    return res

second_highest_salary(employee)

  SecondHighestSalary
0                 400