In [39]:
import pandas as pd
data = [[3, 108939], [2, 12747], [8, 87709], [6, 91796]]
accounts = pd.DataFrame(data, columns=['account_id', 'income']).astype({'account_id':'Int64', 'income':'Int64'})

In [40]:
accounts

   account_id  income
0           3  108939
1           2   12747
2           8   87709
3           6   91796

In [57]:
pd.DataFrame({"category" : ["Low Salary","Medium Salary","High Salary"], "account_counts" : [accounts[accounts['income'] < 20000].shape[0],
    accounts[(accounts['income'] >= 20000) | (accounts['income'] < 50000)].shape[0],
accounts[accounts['income'] >= 50000].shape[0]]})

        category  account_counts
0     Low Salary               1
1  Medium Salary               4
2    High Salary               3

In [58]:
low_sal = accounts[accounts["income"] > 20000].
medium_sal = accounts[(accounts["income"] >=20000) or (accounts[accounts["income"] < 50000])]
high_sal = accounts[accounts["income"] >= 50000]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [38]:
accounts

   account_id  income category  account_count
0           3  108939   Medium            NaN
1           2   12747      Low            NaN
2           8   87709   Medium            NaN
3           6   91796   Medium            NaN